
$yellow : #FBDF07;
$white: #FFF9F9;

$black: #202124;
$black-light: #1E1E1E;

$green-dark-2: #1f7400;

$blue-dark-1: #002B5B;
$blue-dark-2: #2B4865;
$blue-light-1: #0071dc;

$gray-dark-1: #6e6e6e;
$gray-dark-2: #484848;
$gray-dark-3: #202124;
$gray-light-1:#f2f2f2;
$gray-light-2:#adb5bd;