
$yellow : #FBDF07;
$white: #FFF9F9;

$black: #000;
$black-light: #1E1E1E;

$green-dark-2: #00862f;

$blue-dark-1: #002B5B;
$blue-dark-2: #2B4865;
$blue-light-1: #0071dc;

$gray-dark-1: #999999;
$gray-dark-2: #777777;
$gray-dark-3: #1d1d1d;
$gray-light-1:#ddd;
$gray-light-2:#adb5bd;