@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.container{
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: rgba($color: $gray-light-1, $alpha: 1);
    border-top: 1px solid rgba($color: $gray-dark-2, $alpha: 0.5);
    padding-block: $pd-xs;
    box-shadow: 0 5px 5px rgba($color: $black, $alpha: 0.2);

    @include breakpoint(850px){
        padding-block: $pd-s;
    }

    &.sticky{
        position: fixed;
        top: 0;    
        @include transition($property: transform, $duration: 0.21s, $transitionDelay: 0.2s); 
        z-index: 99;
    }
    &.hideSticky{
        transform: translateY(-100%);
        @include transition($property: transform, $duration: 0.21s, $transitionDelay: 0.2s);
    }

    .content{
        width: 90%;
        max-width: 1300px;
        margin-inline: auto;
        display: grid;
        row-gap: 0.1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;

        @include tablet{
            width: 85%;
        }

        @include breakpoint(850px){
            row-gap: 0.5rem;
        }

    }
}

.cartIcon{
    grid-column: 12/13;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    @include transition($duration: 0.1s);

    &:hover{
        background-color: rgba($color: $black, $alpha: 0.2);
    }

    .icon{
        font-size: 1.5rem;
        color: $gray-dark-3;
    }
}
